# This is a basic workflow to help you get started with Actions
name: Lint, build and test

on:
  push:
    paths:
      - '.github/workflows/main.yml'
      - '.swiftlint.yml'
      - '**/*.swift'
  pull_request:
    paths:
      - '.github/workflows/main.yml'
      - '.swiftlint.yml'
      - '**/*.swift'

jobs:
  Test:
    runs-on: macos-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1

    - name: Show the currently detailed version of Xcode for CLI
      run: xcode-select -p

    - name: build and test
      run: xcodebuild clean test -project MeetingBar.xcproject -scheme MeetingBar -destination 'platform=macOS' -showBuildTimingSummary

  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.1.0
      - name: GitHub Action for SwiftLint with --strict
        uses: norio-nomura/action-swiftlint@3.1.0
        with:
          args: --strict
      - name: GitHub Action for SwiftLint (Only files changed in the PR)
        uses: norio-nomura/action-swiftlint@3.1.0
        env:
          DIFF_BASE: ${{ github.base_ref }}
